body {
    line-height:    1.2em;
    font:           10pt Ariel, Sans-Serif;
    color:          #333;
}

a {
    color:          #999;
}

a:hover {
    color:          #000;
}

a img {
    border:         none;
}

body {
    text-align:     center;
}

#body {
    width:          750px;
    margin:         0 auto;
    text-align:     left;
}

#header {
    margin:         5px 0 0 0;
    height:         200px;
}

/*
 * Login
 */
.login {
    font-size:      90%;
    color:          #666;
}

/*
 * Layout
 */

#info_box {
    width:          495px;
    height:         316px;
    background:     url(/static/images/home_bg.png) no-repeat top left;
    font-size:      90%;
    color:          #666;
    cursor:         pointer;
    cursor:         hand;
}
#info_box h1 {
    margin:         10px 0 0 10px;
    padding:        7px 0 0 0;
    color:          #333;
}

#info_box p {
    margin:         5px 10px;
    padding:        0;
}

/*
 * Sidebar
 */
#sidebar {
    width:          240px;
    float:          right;
    margin:         0;
    padding:        0;
    
    color:          #999;
    font-size:      90%;
}

#sidebar .portlet h3 {
    margin:         0;
    padding:        0;
    border-bottom:  1px solid #eee;
}

/*
 * Theme list
 */
ul.theme_list {
    list-style-type:    none;
    margin:             10px 0 0 0;
    padding:            0;
}
ul.theme_list li.theme {
    border-bottom:      1px solid #eee;
    height:             55px;
    padding:            5px;
    overflow:           hidden;
}
ul.theme_list li.theme .thumbnail {
    height:             42px;
    width:              42px;
    float:              left;
    margin:             0 10px 0 0;
    padding:            5px;
    overflow:           hidden;
    border:             1px solid #ccc;
}
ul.theme_list li.theme .thumbnail .field {
    width:              10px;
    height:             10px;
    margin:             2px;
    padding:            0;
    float:              left;
}
ul.theme_list li.theme a.title {
    color:              #333;
    font-size:          200%;
    text-decoration:    none;
}
ul.theme_list li.theme a.title:hover {
    text-decoration:    underline;
}
ul.theme_list li.theme div.about {
    color:              #ccc;
}

ul.small_theme_list li.theme {
    height:             20px;
    overflow:           hidden;
}
ul.small_theme_list li.theme .thumbnail {
    height:             9px;
    width:              10px;
    float:              left;
    margin:             0 5px 0 0;
    padding:            3px;
    overflow:           hidden;
}
ul.small_theme_list li.theme .thumbnail .field {
    width:              3px;
    height:             3px;
    margin:             0;
    padding:            0;
    float:              left;
}

ul.small_theme_list {
    list-style-type:    none;
    margin:             2px 0 12px 5px;
    padding:            0;
    overflow:           hidden;
}
ul.small_theme_list li {
    margin:             2px 0;
}
ul.small_theme_list li a {
    text-decoration:    none;
}
ul.small_theme_list li a:hover {
    text-decoration:    underline;         
}

/*
 * Pagination
 */
ul.pagination {
    list-style-type:    none;
    margin:             10px 0 0 0;
    padding:            0;
}
ul.pagination li {
    float:              left;
    padding:            3px;
    margin:             2px;
}
ul.pagination li.active {
    background:         #fec;
    font-weight:        bold;
    padding:            3px;
}
ul.pagination li a {
    text-decoration:    none;
}
ul.pagination li a:hover {
    text-decoration:    underline;
}

/*
 * Styling
 */
h2.info {
    text-align:         center;
    background:         #fffef0;
    border:             1px solid #ccc;
    margin:             2px 18px;
    padding:            5px;
}

.biginput {
    margin:             0 18px;
    font-size:          200%;
}

/*
 * Download
 */
ul.download {
    list-style-type:    none;
    margin:             0;
    padding:            0;
}

ul.download li {
    height:             19px;
    padding:            0 0 0 20px;
}

ul.download li.vim {
    background:         url(/static/images/icons/vim.png) no-repeat top left;
}

ul.download li.editra {
    background:         url(/static/images/icons/editra.png) no-repeat top left;
}

ul.download li.textmate {
    background:         url(/static/images/icons/textmate.png) no-repeat top left;
}
ul.download li.pygments {
    background:         url(/static/images/icons/pygments.png) no-repeat top left;
}