#theme_editor {
    background:     #fff url(/static/images/editor/background.png) no-repeat bottom left;
    width:          747px;
    padding:        0 0 26px 0;
}

#theme_editor #editor {
    background:     url(/static/images/editor/toolbar_right.png) no-repeat top right;
    padding:        0 20px 0 0;
}

#theme_editor #title {
    height:         18px;
    background:     url(/static/images/editor/toolbar_left.png) no-repeat top left;
    font-weight:    bold;
    text-align:     center;
    padding:        12px 0 0 0;
    margin:         0 0 -12px 0;
}

#theme_editor #editor #body {
    margin:         0 0 0 17px;
    width:          715px;
}

#theme_editor #editor #body .background, #theme_editor #editor #body #code_edit {
    font-size:      9pt;
    white-space:    pre;
    line-height:    1.2em;
    font-family:    "Bitstream Vera Sans Mono", "Monaco", "Courier", monospace;
    font-weight:    normal;
    padding:        0 3px 0 3px;
    margin:         0;
    width:          709px;
}

/*
 * Color Picker
 */

#theme_editor #styles {
    width:          195px;
    position:       absolute;
    background:     url(/static/images/editor/color_picker.png) no-repeat top left;
    height:         336px;
    width:          260px;
    
    display:        none;
}
#theme_editor #styles #close {
    float:          right;
    width:          20px;
    height:         20px;
    margin:         29px 21px 0 0;
}
#theme_editor #styles #close:hover {
    cursor: pointer;
    cursor: hand;
}

#theme_editor #styles #active_style {
    padding:        30px 0 0 20px;
    font-size:      12pt;
    font-weight:    bold;
    color:          #666;
}

#theme_editor #styles #colorpicker {
    margin:         10px 0 0 33px;
}

#theme_editor #styles #fontopts {
    list-style-type:    none;
    margin:             0 0 0 20px;
    padding:            0;
    font-size:          90%;
}