#theme_editor {
    background:     #fff url(/static/images/editor/background.png) no-repeat bottom left;
    width:          747px;
    padding:        0 0 26px 0;
}

#theme_editor #editor {
    background:     url(/static/images/editor/toolbar_right.png) no-repeat top right;
    padding:        0 20px 0 0;
}

#theme_editor #editor_title {
    height:         18px;
    background:     url(/static/images/editor/toolbar_left.png) no-repeat top left;
    font-weight:    bold;
    text-align:     center;
    padding:        12px 0 0 0;
    margin:         0 0 -12px 0;
}

#theme_editor #editor #body {
    margin:         0 0 0 17px;
    width:          715px;
}

#theme_editor #editor #body .background, #theme_editor #editor #body #code_edit {
    font-size:      9pt;
    white-space:    pre;
    line-height:    1.2em;
    font-family:    "Bitstream Vera Sans Mono", "Monaco", "Courier", monospace;
    font-weight:    normal;
    padding:        0 3px 0 3px;
    margin:         0;
    width:          709px;
}