#theme_picker {
    width:          195px;
    position:       absolute;
    background:     url(/static/images/theme_picker/bg.png) no-repeat top left;
    height:         336px;
    width:          260px;
    
    display:        none;
}
#theme_picker #close {
    float:          right;
    width:          20px;
    height:         20px;
    margin:         29px 21px 0 0;
}
#theme_picker #close:hover {
    cursor: pointer;
    cursor: hand;
}

#theme_picker #active_style {
    padding:        30px 0 0 20px;
    font-size:      12pt;
    font-weight:    bold;
    color:          #666;
}

#theme_picker #colorpicker {
    margin:         10px 0 0 33px;
}

#theme_picker ul#fontopts {
    list-style-type:    none;
    margin:             0 0 0 20px;
    padding:            0;
    font-size:          90%;
}

#theme_picker ul#fontopts li {
    display:            inline;
}

/*
 * Foreground/background
 */
#theme_picker ul.layer_picker {
    list-style-type:    none;
    margin:             0 0 0 17px;
    padding:            0;
}
#theme_picker ul.layer_picker li {
    float:              left;
    font-size:          87%;
    color:              #999;
    padding:            0 5px;
}
#theme_picker ul.layer_picker li:hover {
    color:              #000;
    text-decoration:    underline;
    
    cursor: pointer;
    cursor: hand;
}