{% extends "base.html" %}

{% block body %}
<pre>
<b>John</b>: summer heat kind of looks like an easter egg
<b>John</b>: this time around
<b>TheIronyPolice</b>: Put it on a white background, and you've got the Spring Flowers theme
<b>TheIronyPolice</b>: or, a light Yellow, perhaps.
<b>John</b>: ha, I can't wait for fall leaves, and winter ice
<b>John</b>: they're highly anticipated in teh theme community
<b>TheIronyPolice</b>: whois syntaxhighlighting.org
NOT FOUND
<b>John</b>: whoa
<b>TheIronyPolice</b>: We should start a community
<b>John</b>: man we totally should
<b>John</b>: we should develop a standard coding theme json rep
<b>TheIronyPolice</b>: but we should somehow turn it into a verb
<b>John</b>: and then write translators to a bunch of editors
<b>TheIronyPolice</b>: like syntaxing
<b>TheIronyPolice</b>: woah
<b>TheIronyPolice</b>: that would be intense.
<b>John</b>: we could totally do that
<b>TheIronyPolice</b>: syntaxing.com is open
<b>TheIronyPolice</b>: I mean "wide open."  My mistake.
<b>John</b>: ha
<b>John</b>: hmmm that would actually be a fun side project
<b>TheIronyPolice</b>: so is syntaxxxing.com, for those after-hours themes
<b>John</b>: !!!
<b>John</b>: "hot nights" turns your comment blocks into porn ascii art
<b>John</b>: with the coloring
<b>TheIronyPolice</b>: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<b>TheIronyPolice</b>: That would work really well on AppEngine
<b>John</b>: I was just thinking that, i've been meaning to try out app engine
<b>TheIronyPolice</b>: I'm just, you know, buying syntaxing.com
<b>John</b>: are you!?
<b>TheIronyPolice</b>: Listen.  Syntaxing is my life.  I don't lie about that kind of thing.
<b>John</b>: i believe it, you're a published syntax theme creator
<b>John</b>: we should get a keg and write the site and not leave until either the keg is done or the site
<b>TheIronyPolice</b>: I would totally be down for that.
</pre>
{% endblock %}