{% extends "base.html" %}

{% block body %}
<pre>
(06:20:03 PM) John Novatnack: summer heat kind of looks like an easter egg
(06:20:05 PM) John Novatnack: this time around
(06:20:25 PM) TheIronyPolice: Put it on a white background, and you've got the Spring Flowers theme
(06:20:42 PM) TheIronyPolice: or, a light Yellow, perhaps.
(06:21:02 PM) John Novatnack: ha, I can't wait for fall leaves, and winter ice
(06:21:14 PM) John Novatnack: they're highly anticipated in teh theme community
(06:21:44 PM) TheIronyPolice: whois syntaxhighlighting.org
NOT FOUND
(06:21:53 PM) John Novatnack: whoa
(06:21:54 PM) TheIronyPolice: We should start a community
(06:22:00 PM) John Novatnack: man we totally should
(06:22:13 PM) John Novatnack: we should develop a standard coding theme json rep
(06:22:15 PM) TheIronyPolice: but we should somehow turn it into a verb
(06:22:19 PM) John Novatnack: and then write translators to a bunch of editors
(06:22:20 PM) TheIronyPolice: like syntaxing
(06:22:24 PM) TheIronyPolice: woah
(06:22:26 PM) TheIronyPolice: that would be intense.
(06:22:33 PM) John Novatnack: we could totally do that
(06:22:47 PM) TheIronyPolice: syntaxing.com is open
(06:22:56 PM) TheIronyPolice: I mean "wide open."  My mistake.
(06:23:06 PM) John Novatnack: ha
(06:23:19 PM) John Novatnack: hmmm that would actually be a fun side project
(06:23:29 PM) TheIronyPolice: so is syntaxxxing.com, for those after-hours themes
(06:23:35 PM) John Novatnack: !!!
(06:23:59 PM) John Novatnack: "hot nights" turns your comment blocks into porn ascii art
(06:24:02 PM) John Novatnack: with the coloring
(06:24:07 PM) TheIronyPolice: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
(06:24:25 PM) TheIronyPolice: That would work really well on AppEngine
(06:24:42 PM) John Novatnack: I was just thinking that, i've been meaning to try out app engine
(06:25:46 PM) TheIronyPolice: I'm just, you know, buying syntaxing.com
(06:25:56 PM) John Novatnack: are you!?
(06:26:30 PM) TheIronyPolice: Listen.  Syntaxing is my life.  I don't lie about that kind of thing.
(06:27:11 PM) John Novatnack: i believe it, you're a published syntax theme creator
(06:28:27 PM) John Novatnack: we should get a keg and write the site and not leave until either the keg is done or the site
(06:29:36 PM) TheIronyPolice: I would totally be down for that.
</pre>
{% endblock %}