<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/base.css"/>
    <script type="text/javascript" src="/static/javascript/jquery.js"/></script>
    {% block head %}{% endblock %}
    <title>Syntaxing</title>
  </head>
  <body>
    <div id="heading">
        {%if user %}
            <b>{{user.nickname}} &lt;{{user.email}}&gt;</b>
            {%if is_admin%} | <a href="/_ah/admin">Admin</a>{%endif%}
            {%if sign_out%} | <a href="{{sign_out}}">Sign out</a>{%endif%}
        {% else %}
            {%if sign_in%}<a href="{{sign_in}}">Sign in</a>{%endif%}
        {%endif%}
    </div><!-- #heading -->
  
    {% block body %}{% endblock %}
  </body>
</html>
