<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/base.css?v=1"/>
    <script type="text/javascript" src="/static/javascript/jquery.js?v=1"/></script>
    {% block head %}{% endblock %}
    <title>Syntaxing</title>
  </head>
  <body>
    <div id="body">
        <div id="header">
            <a href="/"><img src="/static/images/syntaxing.jpg"/></a>
        </div><!-- #header -->
        
        <div id="navigation">
            <ul>
                <li><a href="/themes/">Recent Themes</a></li>
                <li><a href="/themes/new">Make a new Theme</a></li>
            </ul>
        </div><!-- #navigation -->
        
        <div id="content">
            {% block body %}{% endblock %}
        </div><!-- #content -->
        
        <ul id="footer">
            <li><a href="/about">About</a></li>
            <li><a href="/feedback">Feedback</a></li>
        </ul><!-- #footer -->
    </div><!-- #body -->
    
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-68181-5");
        pageTracker._trackPageview();
    </script>
  </body>
</html>