
<div id="theme_editor">
    <div id="styles">
        <div id="colorpicker"></div>
    </div><!-- #styles -->

    <div id="editor">
        <div class="background">{{ code }}</div><!-- .background -->
    </div><!-- #editor -->
</div><!-- #theme_editor -->

{% for token_type in token_types %}
    {% ifequal token_type "background" %}
        <input type="hidden" id="{{ token_type }}" name="{{ token_type }}" value="#fffffff" class="token_style"/>
    {% else %}
        <input type="hidden" id="{{ token_type }}" name="{{ token_type }}" value="#000000" class="token_style"/>
    {% endifequal %}
{% endfor %}
