{% extends "base.html" %}

{% block body %}
<a href="{% url views.themes.new %}">Create new theme</a>
<ul class="theme_list">
    {% for theme in themes %}
        <li class="theme">
            <div class="thumbnail" style="{{ theme.thumbnail_style }}">
                {% for field in theme.thumbnail_fields %}
                    <div class="field" style="background:{{ field }}">&nbsp;</div>
                {% endfor %}
            </div>
            
            <a href="{% url views.themes.get theme.key.id %}" class="title">{{ theme.name|escape }}</a>
            <div class="about">
                Created {{theme.created|date:"Y/m/d H:i"}} by {{ theme.author.nickname }}
            </div>

			<div class="description">
				{{theme.description}}
			</div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
