{% extends "base.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/theme_editor.css?v=1"/>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/farbtastic.css?v=1"/>
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/theme_picker.css?v=1"/>

    <script type="text/javascript" src="/static/javascript/farbtastic.js?v=1"/></script>
    <script type="text/javascript" src="/static/javascript/theme_picker.js?v=1"/></script>
    <script type="text/javascript" src="/static/javascript/theme_editor.js?v=1"/></script>
{% endblock %}

{% block body %}
<form action="/themes/create" method="post">
    {% include "themes/form.html" %}
    <p><input type="submit" value="Create Theme"/></p>
</form>

{% endblock %}