{% extends "base.html" %}
{% block head %}
    <link type="text/css" rel="stylesheet" href="/static/stylesheets/theme_editor.css"/>
    <link type="text/css" rel="stylesheet" href="/themes/{{ theme.key.id }}/theme.css"/>
{% endblock %}

{% block body %}
<h1>{{ theme.name }}</h1>

{% if theme.description %}
    <div id="description">
        {{ theme.description }}
    </div>
{% endif %}

<div id="theme_editor">
    <div id="editor">
        <div id="title">Python</div>
        <div id="body">
            <div id="code_view" class="background">{{ code }}</div><!-- .background -->
        </div><!-- #body -->
    </div><!-- #editor -->
</div><!-- #theme_editor -->

<p>{{ theme.description|escape }}</p>

<hr/>

<div id="download">
    <ul class="download">
        <li class="vim"><a href="{% url views.themes.vim theme.key.id %}">Vim</a></li>
        <li class="editra"><a href="{% url views.themes.editra theme.key.id %}">Editra</a></li>
        <li class="textmate"><a href="{% url views.themes.textmate theme.key.id %}">TextMate</a></li>
        <li class="pygments"><a href="{% url views.themes.pygment theme.key.id %}">Pygments CSS</a></li>
    </ul>
</div>

{% endblock %}